<html>
    <head>
        <title>This is a form example!</title>
    </head>
    <body>
        <form action="/form" method="post">
            <label for="firstname">Firstname:</label><br />
            <input id="firstname" type="text" name="firstname" /><br />
            <label for="lastname">Lastname:</label><br />
            <input id="lastname" type="text" name="lastname" /><br />
            <input type="submit" value="Send"/>
        </form>
    </body>
</html>